@{
    ViewBag.Title = "All about our reading club!";
}
<h2>@ViewBag.Title</h2>


<div class="row">
   <div class="col-md-6">
       <h3>@ViewBag.Message</h3>
        <p>
            This program is about helping kids read. Here we will be reading age appropriate books and discussing them. This book club will be a fun way to combine the love of a good book with learning English. Kids practice and improve their reading skills along with other language skills like speaking, listening and vocabulary. Parents will find that the more the kid reads, the more confident he/she will feel about speaking to his/her book club mates in English. As a result, their ability to read and speak English will quickly improve! The book club kids will meet twice a week and read/discuss fascinating children's books. This will make them good readers and book lovers.This program is about helping kids read. Here we will be reading age appropriate books and discussing them. This book club will be a fun way to combine the love of a good book with learning English. Kids practice and improve their reading skills along with other language skills like speaking, listening and vocabulary. Parents will find that the more the kid reads, the more confident he/she will feel about speaking to his/her book club mates in English. As a result, their ability to read and speak English will quickly improve! The book club kids will meet twice a week and read/discuss fascinating children's books. This will make them good readers and book lovers.
        </p>
    </div>
    
<div class="col-md-6">
    <h3>About Me</h3>
    <p>I am a freelance content writer/editor mainly working on academic books. I love reading books and I am eager to share my passion for reading with children. I would like to impart the importance of reading books, while also focusing on language skills like listening, speaking and improving the vocabulary.</p>
    <h4>Languages Spoken</h4>
    <p>Tamil, English</p>
    <h4>Education</h4>
    <p>M.S from Illinois Institute of Technology, Chicago (2004)</p>
    </div>

    </div>
