@{
    ViewBag.Title = "CONTACT US";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

@*Contact Page*@

<address>
    AF7 Sudharshan Apts<br />
    Perungalathur, Chennai 600063<br />
    <abbr title="Phone">Call Us:</abbr>
    875-490-6787
</address>

<address>
    <strong>EMail:</strong>   <a href="mailto:teachers@kidsreadingclub.com">teachers@kidsreadingclub.com</a><br />
    
</address>