html {
    font-family: 'Cambo', serif;
}

body {
    font-family: 'Cambo', serif !important;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}


    /* change the text color of brand */
    .navbar-inverse .navbar-brand {
        color: #f5f5f5 !important;
    }
    /* Change the color of the header */
    
    .navbar-inverse {
    background-color: #285628 !important;
    border-color: #285628;
}
    .navbar-inverse .navbar-toggle {
        border-color: #285628;
    }
    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
        border-color: #285628;
    }
    .navbar-inverse .navbar-toggle:hover,
    .navbar-inverse .navbar-toggle:focus {
        background-color: #285628;
    }
        /* Set width on the form input elements since they're 100% wide by default */
        input, select, textarea {
    max-width: 280px;
}

/* Change background color for junbotron */
.jumbotron {
    font-family: 'Cambo', serif !important;
    background-color: #c9f3a7 !important;
    background-size: cover !important;
   
  
}
    /* Set font family and size for junbotron h1*/
    .jumbotron h1 {
        font-family: 'Cambo', serif !important;
        font-size: 50px !important;
    }
